<h1>Sign In</h1>
<div class="ui form segment">
  <%= form_tag signin_path html: {class: "ui form segment"} do |f| %>

  <div class="two fields">
    <div class="field">
      <%= label_tag :email %>
      <div class="field">
        <%= email_field_tag :email %>
      </div>
    </div>

    <div class="field">
      <%= label_tag :password %>
      <div class="field">
        <%= password_field_tag :password %>
      </div>
    </div>
    <div class="field">
      <%= submit_tag "Sign In", class: "ui submit button" %>
    </div>
  </div>
  <% end %>

</div>
